:root {
    --main-color: #222831;
    --primary-color: #393E46;
    --secondary-color: #FFD369;
    --tertiary-color: #EEEEEE;
    --nav-link: var(--tertiary-color);
    --bg-button: var(--secondary-color)
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
    height: 15vh;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    z-index: 111;

}

nav {
    display: flex;


}

nav ul {
    display: flex;
    gap: 1em;
}
.hamburger-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
}
@media screen and (max-width:550px) {
    header {
        padding: 0 2.2em;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1111;
        background-color: var(--main-color);
        height: 100%;
    }

    nav ul {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--main-color);
        /* Colore di sfondo del menu */
        padding: 10px;
        /* Spaziatura interna del menu */

        height: 100%;
        /* Occupa tutta l'altezza dello schermo */
        width: 300px;
        /* Larghezza fissa del menu */
    }
    .hamburger-button{
        display: flex;
    }
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    color: var(--tertiary-color);

}

a {
    text-decoration: none;
    color: var(--nav-link);
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.bold-heading {
    color: var(--svg-color);
}

.menu {
    display: none;
    /* Nascondi il menu di default */
}

.menu.open {
    display: block;
    /* Mostra il menu quando è aperto */
}

/* Aggiungi altri stili per il menu come posizionamento, sfondo, ecc. */

/* Aggiungi stili per il pulsante hamburger */


.line {
    width: 30px;
    height: 2px;
    background-color: var(--secondary-color);
}

.line.open {
    background-color: #fff;
    /* Cambia il colore quando il menu è aperto */
}